@model ProductListViewModel

    <ul class="list-group">
        @foreach (var product in Model.ProductList)
        {
            <li class="list-group-item">
                <div>
                    <h4>@product.Name </h4>
                    <a asp-controller="ShoppingCart"
                       asp-action="AddToCart"
                       asp-route-coffeeID="@product.ProductId">
                        Add to Cart
                    </a>

                </div>
            </li>
        }
    </ul>