@using Microsoft.AspNetCore.Identity
@using Identity.Dapper.Entities

@inject SignInManager<DapperIdentityUser> SignInManager
@inject UserManager<DapperIdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form asp-controller="User" asp-action="LogOff" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </form>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="User" asp-action="Register">Register</a></li>
        <li><a asp-controller="User" asp-action="Login">Log in</a></li>
    </ul>
}